.container {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.container > * {
  flex: 1 2 auto;
}

.container > div:first-child {
  border-right: 1px solid var(--accent-color);
}

.container h1 {
  margin-bottom: 2rem;
  font-size: 1.5rem;
}

.flex {
  display: flex;
  gap: 1rem;
}

.form{
  margin-top: 3rem;
}

.form label {
  display: block;
  margin-bottom: 0.5rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1rem;
  font-weight: 900;
}

.form input,
.form textarea {
  font-family: 'JetBrains Mono';
  margin-bottom: 1.5rem;
  background: var(--article-bg);
  color: var(--text-color);
  border: none;
  font-size: 1rem;
  padding: 1rem;
  width: 100%;
  resize: none;
}

.form input:hover,
.form textarea:hover {
  outline: 1px solid var(--accent-color);
}

.form input:focus,
.form textarea:focus {
  outline: 1px solid var(--accent-color);
}

.form button {
  background: var(--accent-color);
  color: var(--main-bg);
  border: none;
  cursor: pointer;
  padding: 0.5rem 1rem;
  font-size: 0.9rem;
  font-weight: bold;
  text-transform: uppercase;
}

.heading {
  font-size: 1.6rem;
  margin-bottom: 2rem;
}

@media screen and (max-width: 1200px) {
  .container {
    display: block;
  }
  .container > div:first-child {
    border-right: none;
    margin-bottom: 2.5rem;
  }
}

@media screen and (max-width: 600px) {
  .flex {
    display: block;
  }
  .form input {
    font-size: 0.85rem;
  }
}

.formField{
  position: relative;
  margin-top: 1rem;
}

.formLabel{
  margin-left: 2rem;
  top: -15%;
  position: absolute;
  z-index: 100;
  background-color: #24292e;
  padding: 0rem 0.5rem
}

.formInput{
  border: solid 0.5px var(--accent-color);
  border-radius: 10px;
}