@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200&display=swap');

.explorer {
  background: var(--explorer-bg);
  width: 12.5vw;
  min-width: 140px;
  color: rgb(225, 228, 232);
  font-family: 'Source Sans Pro', sans-serif;
  border-right: 1px solid var(--explorer-border);
}

.title {
  font-family: "Dosis", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  padding: 0.8rem 1.2rem;
  text-transform: uppercase;
  font-size: 0.9rem;
  letter-spacing: 1px;
  margin-bottom: 0.75rem;
}

.heading {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.05rem;
  letter-spacing: 1.09px;
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 0 0.5rem;
}

.checkbox {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

.files {
  padding: 0.5rem 0;
  padding-left: 0.7rem;
  cursor: pointer;
}

.file {
  padding: 0.45rem 1rem;
  display: flex;
  align-items: center;
  font-size: 1.05rem;
}

.file p {
  margin-left: 5px;
}

.file:hover {
  background: var(--explorer-hover-bg);
}

.chevron {
  transition: transform 0.2s;
}

@media screen and (min-width: 2000px) {
  .explorer {
    width: 10vw;
  }
}

@media screen and (max-width: 900px) {
  .explorer {
    width: 20vw;
  }
}

@media screen and (max-width: 600px) {
  .explorer {
    display: none;
  }
}

.active{
  background: var(--explorer-select-bg);
}
